

body {
  font-family: "Lato", sans-serif;
    
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 200px; 
}

body {
background-color: #606060
}
h2{
   
    margin-right: 90px;
}
.picture{
    margin-left: 800px;
    margin-top:-270px;
}


.hr1{
        
       animation: photo 4s ease-in-out;
}
@keyframes photo {
  from { margin-left: 900px; margin-right:10000px;}
  to {margin-left:0px; margin-right: 0px;}      
    }
.photo1{
           animation: photo 4s ease-in-out;
}
@keyframes photo {
  from { margin-left: 900px; margin-right:10000px;}
  to {margin-left:0px; margin-right: 0px;}   
}